div {
    border: 2px solid black;
    margin: 10px;
}

.sample{
    border: 2px dotted black;
    color: red;
}

#sample-id{
    color: blueviolet;
}

.sample-div-1{
    background-color: beige;
}

div.sample-div-1:hover{
    background-color: cadetblue;
    color: brown;
}

form#signup-form input[type="submit"] {
    background-color: yellow;   
}
form input:checked{
    display: block;
    margin-top: 3px;
}

form p:first-child{
    color: red;
}