p{
    font-size: 1.2rem;
    font-family:'Courier New', Courier, monospace;
    color: hsla(132, 91%, 17%, 0.23);
    background-color: rgb(176, 137, 137);
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 140%;

}
a{
    text-decoration: none;
}