h2{
    color: red;
}
p{
    color: green;
}
div{
    border: 2px solid red;
    margin: 10px;
    padding: 5px;
}
section h2{
    color: blue;
}

div h2{
    color: brown;
}
section >p{
    color: aquamarine;
    background-color: blueviolet;
}

footer ul li{
    color: plum;
}